div.modal
    div.modal__inner 
        div.modal__question 
            div 댓글을 작성하려면 로그인 하세요
        div.modal__answer 
            div.modal__yes.selection 
                div 로그인
            div.selection
                div.modal-answer__line
            div.modal__no.selection
                div 취소
